<script>
  let current = "";
</script>

<button
	class="{current === 'messi' ? 'selected' : ''}"
	on:click="{() => current = 'messi'}"
>Messi</button>

<button
	class="{current === 'ronaldo' ? 'selected' : ''}"
	on:click="{() => current = 'ronaldo'}"
>Ronaldo</button>

<button
	class="{current === 'neymar' ? 'selected' : ''}"
	on:click="{() => current = 'neymar'}"
>Neymar</button>

<style>
	.selected {
    display: inline-block;
		background-color: #00c3ff;
		color: #6c757d;
	}
</style>

<!-- We will cover buttons in week 7! 
<button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>
-->