<script>
	const myList = ['Football', 'Gym', 'Biology', 'Data Science'];
	const student = { name: 'Marios Eftychiou', favorite: myList};
</script>

<p>My name is {student.name} and these are some of my favourite things: {student.favorite}.</p>
