<script >
  // Properties
  //export let data = [];
  export let current_year = 0
  export let current_continent = "all"

  const continents = ["europe", "asia", "americas", "africa"];
  
  let clicked = false;
  let paused = true;

  function year_incriment(){
    if(!paused) {
      if(current_year === 214) {
        current_year = 0;
      }
      current_year+=1;
      clicked = true;
    }
  }
  
  let interval = setInterval(year_incriment,50);
  
  function stop() {
    paused = true;
    clicked = false;
  }
  
  function start() {
    paused = false;
    clicked = true;
  }
  
  function reset(){
    current_year = 0;
  }

</script>

<div class="row">
  <div class="col">
    {#if !clicked}
    <button type="button" class="btn btn-primary" on:click={start}>Start</button>
    {:else}
    <button type="button" class="btn btn-primary" on:click={stop}>Stop</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={reset}>Reset</button>
</div>

<div class="col">
  <p>
    Year: {current_year+1800}
    <input type="range" class="form-range" min="0" max="214" step="1" bind:value={current_year}>
  </p>
  </div>

  <div class="col">
    <select bind:value={current_continent}>
      <option value="all" selected="selected">all</option>
      {#each continents as continent}
        <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>
</div>
