<script>
    let clicks = 0
    const width = 800;
    const height = 100;
    const margin = { top: 5, right: 5, bottom: 5, left: 5 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    function increment() {clicks += 1}
    function reset() {clicks = 0}

</script>
    
<button type="button" class="btn btn-primary" on:click={increment}> You clicked {clicks} times.</button>
<button type="button" class="btn btn-danger" on:click={reset}> Reset </button>