<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  const interval = setInterval(() => {index -= 1}, 1000);
  $: interval;

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as p, i}
      {#if index == -1} 
        <circle class="all_on" cx={p} cy=35 r=10></circle>
        {clearInterval(interval)}
      {:else if index <= i}
        <circle class="one_on" cx={p} cy=35 r=10></circle>
      {:else}
        <circle class="all_off" cx={p} cy=35 r=10></circle>
      {/if}
    {/each}
  </g>
</svg>

<style>
  .all_off {
    fill:darkred;
    fill-opacity:0.3;
  }
  .one_on {
    fill:darkred;
    fill-opacity: 1;
  }
  .all_on {
    fill:darkgreen;
    fill-opacity:1;
  }
</style>