<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  
  let current_year = 0;

  let current_continent = "all";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");   
  });

  $: selected_data =  function(current_year,current_continent) {

    let selected_data=data[current_year]["countries"];
  
    if (current_continent == "all") {
      return selected_data
    }
    else {
      selected_data =  selected_data.filter(item => (item.continent === current_continent))

      return selected_data
        }
  }

</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div>
   <Scatterplot data={selected_data(current_year,current_continent)} />
  <Controls data={data} bind:current_year={current_year} bind:current_continent={current_continent}/>
</div>
{/if}

