<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {scaleLog} from 'd3-scale';
  import {scaleSqrt} from 'd3-scale';
  
  import {axisLeft} from 'd3-axis';
  import {axisBottom} from 'd3-axis';
  
  import {extent} from 'd3-array';
  
  import {select} from 'd3-selection';

  import {schemeTableau10} from 'd3-scale-chromatic';

  export let data;

  const colour_mapping = extent(data, (d) => d.continent);
  const scale_x =scaleLog().domain([300,100000]).range([0,innerWidth]);
  const scale_y=scaleLinear().domain([0,90]).range([innerHeight,0]);
  const ordinal=scaleOrdinal().range(schemeTableau10).domain(colour_mapping);
  const radius=scaleSqrt().domain([0,5e8]).range([5,10]);
  const ticks=[400,4000,40000];

 let g1;
  $:{
    let x_axis = axisBottom(scale_x).tickValues(ticks);
    select(g1).call(x_axis);
  }
  
  let g2;
  $:{
    let y_axis = axisLeft(scale_y);
    select(g2).call(y_axis);
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <text  x=0 y=0 transform="translate(20,250) rotate(270)" fill="currentColor" font-size=20>Life Expectancy </text>
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as d}
      {#if d.income !== null && d.life_exp !== null && d.population !== null}
        <circle cx={scale_x(d.income)} cy={scale_y(d.life_exp)} r={radius(d.population)} fill={ordinal(d.continent)}/>
      {/if}
    {/each}
    <text x={innerWidth/2-2.5*margin.left}  y=0 font-size=2em> Gapminder Scatterplot </text>
    <text x={innerWidth/2-margin.left} y={height-margin.top-10} fill="currentColor" font-size=20 >GDP per Capita </text>
    <text x={innerWidth-80}, y={innerHeight-10} font-size=2em opacity=0.5>1800</text>
    {#each ticks as t}
      <text  x={scale_x(t)-10}  y={height-1.8*margin.top} fill="currentColor" font-size=0.65em>${t} </text>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" bind:this={g1}></g>
  <g transform="translate({margin.left},{margin.top})" bind:this={g2}></g>
</svg>

