<script>

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import {scaleLog} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  const scale = scaleLog().domain([1, 10]).range([1, innerWidth]);
  const axis = axisBottom(scale);
  function x_axis(x) {axis(select(x))};


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
      <g transform ="translate(0,70)" use:x_axis={"g"}></g>

    {#each values as v}
      <circle cx={scale(v)} cy={innerHeight/2} r=10 fill="steelblue"/>
    {/each}

    <text x={innerWidth/2} y={height-10} fill="currentcolor" font-size="10" font-family="sans-serif">x label</text>
  </g>
</svg>
