<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';

  const scale_x = scaleLinear().domain([1,10]).range([0,innerWidth]);
  const scale_y = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const colour_mapping = extent(values, (v) => v.category);
  const ordinal = scaleOrdinal().range(schemeDark2).domain(colour_mapping);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <rect x="0" y={scale_y(0)} width={innerWidth} height="1"/>
    {#each values as v}
     <circle cx={scale_x(v.x)} cy={scale_y(v.y)}  r=5 fill={ordinal(v.category)}/>
     <rect x={scale_x(v.x)-0.5} y={scale_y(v.y)+5} width="1" height={innerHeight-scale_y(v.y)-5}/>
     <text class="valueLabel" x={scale_x(v.x)} y={scale_y(v.y)-10}>{v.y}</text> 
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
