<script>
    import {onMount} from 'svelte';
    import 'd3-fetch';
    import Scatterplot from "./_ex_7_scatterplot.svelte";
    
    let ready;
    let data = null;
    
    onMount(async () => {
    const wait = await fetch('/data/gapminder.json');
    data=await wait.json();
    ready=true;
    });
</script>

{#if ready } 
    {#if data[0].year =="1800" } 
        <Scatterplot data={data[0].countries} />
    {/if}
{:else}
    <p>Please wait data are being loaded...</p>
{/if}


